

ul {
  list-style-type: none;
  padding: 30px;
  overflow: hidden;
  //background-color: #333333;>
  
}

li {
  float : right;
  font-family: arial;
  

}

li a {
  padding: 10px 35px;
  display: block;
  color: white;
  text-align: center;
  font-weight: 450;
  border-radius: 25px;
  border: 1px solid transparent;
  
  margin:0 auto;
  text-decoration: none;
  
  
  
}

li a:hover {
  
  
   transition-duration: 1s;
   border: 1px solid #ff1c67;
   color:#fc1144;

}
li ah {
  
  font-weight: 900;
  font-size: 125%;
  display: block;
  color: white;
  border-radius: 25px; 
  border: 1px solid transparent;
  
  padding: 10px 35px;
  margin-left: 5px;
  text-decoration: none;
  
  
  
}

li ah:hover {
  
  
   transition-duration: 1s;
   border: 1px solid #fc1616;
   color:#fc1144;

}



li ab {
  display: block;
  text-align: center;
  border-radius: 25px;
  border: 1px solid transparent;

  padding: 10px 35px;
  text-decoration: none;
  color: #ff1c67;
  
  
  
}

li ab:hover {
  
  
   transition-duration: 1s;
   border: 1px solid #ff1c67;
   color:#bc0000;
  
}


h1 {
	font-family: arial;
	font-weight: 1000;
	text-align: center;
	font-size: 425%;
	color: white;

    margin: 150px 335px 25px 335px;
}
.content {	
  display: table;
	min-width: 400px;

	font-family: arial;
	font-weight: 100;
	text-align: center;
	color: white;
  margin: 0px 335px 55px ;

}


.order_button a{
  display: table;
  min-width: 200px;
text-decoration: none;
font-family: arial;
  color: white;
  font-weight: 150%;
  font-size: 75%;
  border-radius: 50px;
  padding: 15px; 
  text-align: center;
  background-color:#ff1c67;
  border: 1px solid #ff1c67;
  margin: auto;
  
}


.order_button a:hover{
margin: 20px 335px 100px 335px;
background-color:#fc1144;
border: 1px solid #fc1144;
transition-duration: 1s;

}

