
.divTable{ 	
display: table; 	
width: 50%; } 

.TableRowHead { 
background-color: #FFFF000.5;	
display: table-row;
font-weight: bold;
 } 

.divTableRow { 	
display: table-row;
 } 

.divTableHeading { 	
background-color: #EEE; 	
display: table-header-group; 
font-weight: bold;} 

.divTableCell, .divTableHead { 	
border: 5px solid #999999; 	
display: table-cell; 	
padding: 10px ; } 

.divTableCell1 { 	
border: 5px solid #999999; 	
display: table-cell; 	
padding: 10px ; }

.span{
border: 5px solid #999999; 	
display: table-cell; 	
padding: 10px ;
column-span: all;} 


.divTableBody { 
text-align:center;	
display: table-row-group; }



