body{
	background-color: rgb(15, 15, 62);
}



.image_back{

	background-color: rgba(234, 234, 250,0.8);
	transition: 0.4s ease-in-out;
}

.image_back:hover{

	background-color: rgba(234, 234, 250,0.5);
}


#spri{
	width: 46px;
  height: 44px;
  background: url(social.png) 0 0;

}