body{
  font-family: arial;
	background-color: white;
}


ul {
  list-style-type: none;
  overflow: hidden;
  
}


li {
 
 
  float : right;
  font-family: arial;

}

li a {
 
  margin: 7px 5px 10px 5px;
	border-bottom: 3px solid transparent;
  padding: 30px 20px 30px 20px;
  display: block;
  color: black;
  
  font-weight: 400;
  font-size: 15px;
   
  transition: border-bottom 0.5s ;
}

li a:hover {
  
   
   transition: 0.5s;   /*--transition: <property> <duration> <timing-function> <delay>;*/
   border-bottom: 3px solid black;
   color:#fc1144;
}

li input{
  margin: 15px 10px 10px 10px;
  text-align: center;
  padding: 15px 20px 15px 10px;
  display: block;
  border: solid rgba(224, 224, 224,0.8);
  border-radius: 10px;
  box-shadow: 1px 3px rgba(224, 224, 224,0.6);
  width:450px;
  font-weight: 500;
  font-size: 15px;
}


li img {
	margin: 10px 10px 10px -20px;
  padding: 20px 20px 20px 0px;
  display: block;
  color: black;
 
}



hr {
height: 1px;

background-color:rgba(224, 224, 224,0.8);
border: 0 none;
margin-top: -26px;
}


input#search {

    background-image: url(search.png); 
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 20px 7px;
    text-indent: 20px;
}

p{

  margin: 20px 20px 5px 20px;
  padding: 20px 25px 5px 25px;
  font-weight: 650;
  font-size: 25px;

}

.divTable{ 
  display: table;
  
  margin: 5px 20px 20px 20px;
  text-align: center;	
  border-collapse: separate;
  border-spacing: 10px;
  
  } 

.TableRowHead { 
text-align: center;

display: table-row;
font-weight: bold;
 } 

.divTableRow { 	
display: table-row;

 } 

.divTableHeading { 	
 	
display: table-header-group; 
font-weight: bold;} 



.divTableCell1{
  box-shadow: 1px 3px rgba(224, 224, 224,0.6); 	
  display: table-cell; 
  color: black;
  font-weight: 400;
  font-size: 17px;
  min-width :300px;
  border: 2px solid rgba(224, 224, 224,0.8);
  padding: 25px 25px 25px 3%;


} 

.divTableCell1#homes{
  background: url(images/homes.jpg);
  background-repeat: no-repeat;
  background-size: 110px 90px;
  background-position: -5px -9px;
 
}

.divTableCell1#experiences{
  background: url(images/experiences.jpg);
  background-repeat: no-repeat;
  background-size: 110px 90px;
  background-position: -5px -9px;
 
}


.divTableCell1#restaurants{
  
  background: url(images/restaurants.jpg);
  background-repeat: no-repeat;
  background-size: 110px 90px;
  background-position: -5px -9px;
 
} 

.divTableCell2{
  box-shadow: 1px 3px rgba(224, 224, 224,0.6);  
  display: table-cell; 
  color: white;
  font-weight: 600;
  font-size: 20px;
  min-width :260px;
  height :400px;
  border: 2px solid rgba(224, 224, 224,0.8);
  padding: 300px 2% 25px;
  text-decoration: none;


} 


.divTableCell2#rec1{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/rec1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  
}

.divTableCell2#rec2{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/rec2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}


.divTableCell2#rec3{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/rec3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}

.divTableCell2#rec4{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/rec4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}

.divTableCell2#rec5{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/rec5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}

a{

     text-decoration: none;
}