body{
	color: red;
	background-color: white;
}


ul {
  list-style-type: none;
  margin-left: 0px;
  margin-right: 10px;
 margin-top: 20px;
  overflow: hidden;
  
}


li {
  float : right;
  font-family: arial;

}

li a {

	margin-top: 0px;
	margin-bottom: 5px;
  padding: 20px 20px;
  display: block;
  color: black;
  
  font-weight: 500;
  font-size: 15px;
  
  /* margin:0 auto;
     text-decoration: none; */
  
  
  
}

li input{

  padding: 8px 10px;
  display: block;
  border: solid rgba(224, 224, 224,0.8);
  border-radius: 10px;
  box-shadow: 1px 3px rgba(224, 224, 224,0.6);
  width:300px;
  font-weight: 500;
  font-size: 15px;
}


li img {
	margin-top: 0px;
	margin-bottom: 5px;
  padding-right: 20px;
  padding-top: 5px;
  display: block;
  color: black;
 
}

li a:hover {
  
  
   transition-duration: 1s;
   border-bottom: 2px solid black ;
   color:#fc1144;
}

hr{

	border-color: solid grey;
margin-top: -22px;
}

divTable{ 

  border: 5px solid white; 
  border-radius: 5px; 
  margin: auto; 
  text-align: center;	
  display: table; 	
  width: 50%; 
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 500px;
  margin-left: 300px;
  } 

.TableRowHead { 
text-align: center;
background-color: #FFFF00;	
display: table-row;
font-weight: bold;
 } 

.divTableRow { 	
display: table-row;
 } 

.divTableHeading { 	
background-color: #EEE; 	
display: table-header-group; 
font-weight: bold;} 



.divTableCell, .divTableHead { 	
text-align: center;
border: 5px none; 	
display: table-cell; 	
padding: 10px ; 
color:black;} 

.divTableCell1 { 	
border: 5px solid; 	
display: table-cell;
 }
