body{
	color: red;
	background-color: white;
}


ul {
  list-style-type: none;
  margin-left: 0px;
  margin-right: 10px;
 
  overflow: hidden;
  <!background-color: #333333;
}


li {
  float : right;
  font-family: arial;
   

}

li a {

  padding: 20px 20px;
  display: block;
  color: black;
  
  font-weight: 500;
  font-size: 15px;
  
  /* margin:0 auto;
     text-decoration: none; */
  
  
  
}


li img {

  margin-top: 10px;
  display: block;
  color: black;
 
}

li a:hover {
  
  
   transition-duration: 1s;
   border-bottom: 2px solid black ;
   color:#fc1144;
}

hr{

	border-color: solid grey;
	margin-top: 0px;
}