table{
 font-family: arial;
 border: 2px solid white;
 outline-offset: 2px;
 outline: 2px solid;
 padding-left: 500px;
}

th{

	font-size: 150%;
}
tr {
	border-bottom: 1px solid grey;
	height:30px;
	

}
tr#no_border{
	border-bottom: 1px solid transparent;
 	

	
}

td#align_left{
	text-align: left;
	padding-left: 10px;
}


td#smal_align_left{
	text-align: left;
	font-size: 75%;
	font-variant: small-caps;
	padding-left: 10px;
}

td#smal_align_center{
	text-align: center;
	font-size: 25%;
	font-variant: small-caps;
}

td#big_align_left{
	text-align: left;
	font-size: 125%;
	padding-left: 10px;
}

td#big_align_rigt{
	text-align: right;
	font-size: 125%;
}

table {
  border-collapse: collapse;
  width: 500px;
  margin: 5vw 35vw;
  color: white;
}

th {
  height: 50px;
}


html, body {
  background-color: rgb(0, 8, 22);

}
.bkg-animated {
  background: url(night_sky_1.jpg) repeat 0 0;
  width: 500px;
  margin: 5vw 35vw;
  text-align: center;
  height: 10%;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 100s linear infinite;
}

.bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}